.chat {
    flex: 0.75;
    display: flex;
    flex-direction: column;

    .chat-header {
        padding: 8px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid lightgray;

        &:hover {
            background-color: #ebebeb;
        }

        .MuiAvatar-root {
            height: 65px !important;
            width: 65px !important;
        }

        .chat-header-info {
            flex: 1;
            padding-left: 20px;

            h3 {
                margin-bottom: 5px;
                font-weight: 500;
            }

            p {
                color: gray;
                font-weight: 500;
            }
        }

        .chat-header-right {
            display: flex;
            justify-content: space-between;
            min-width: 100px;

            .MuiSvgIcon-root {
                padding: 10px;
                font-size: 30px !important;
            }

        }
    }
    .chat-body{
        flex: 1;
        background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 243, 243, 0.7)),
        url("https://img.freepik.com/free-vector/vector-social-contact-seamless-pattern-white-blue_1284-41919.jpg?w=740&t=st=1708239079~exp=1708239679~hmac=86088e37b2aad684735107d1bed60cdf0beba1abe839d7ec5b5460943f74b9f6");
        background-repeat: repeat;
        background-position: center;
        padding: 30px;
        overflow-y: scroll;
        .chat-body-message{
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 8px;
            background-color: white;
            width: fit-content;
            max-width: 60%;
            flex-wrap: wrap;
            border-radius: 8px;
            margin-bottom: 5px;
            .name{
                position: absolute;
                top: 0;
                font-size: 13px;
                color: blue;
                cursor: pointer;
            }
            
            .message{
                padding: 12px 60px 10px 10px ;
                font-size: 18px;
            }
            .time{
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 12px;
                color: gray;
                padding: 10px;
            }
        }
        .chat-sender{
            margin-left: auto;
            background-color: #dcf8c8;
            .name{
                display: none;
            }
            .message{
                margin-top: -10px;
            }
        }
    }

    .chat-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        border-top: 1px solid lightgray;
        form{
            flex: 1;
            display: flex;
            input{
                flex: 1;
                border-radius: 10px;
                padding: 10px;
                border: none;
            }
            button{
                display: none;
            }
        }
        .MuiSvgIcon-root {
            padding: 10px;
            font-size: 30px !important;
        }
    }
}