.sidebarchat {
    display: flex;
    padding: 5px 12px;
    cursor: pointer;
    border-bottom: 2px solid #f8f5f5;

    &:hover{
        background-color: #ebebeb;
    }

    .MuiAvatar-root {
        height: 60px !important;
        width: 60px !important;
    }
    .sidebarchat-info{
        margin-left: 15px;
        margin-top: 2px;
        h2{
            font-size: 18px;
            margin-bottom: 5px;
        }
    }
    
}
.add-button{
    align-items: center;
    justify-content: center;
    h2{
        font-size: 18px;
        background-color: rgba(0, 255, 255, 0.37);
        padding: 5px 10px;
        border-radius: 10px;
    }
}